Build
build
Debug
Release
lib
.idea
.*.sw[po]
*~
*.pyc
*.pyd
*.pyo
*.egg-info
MANIFEST
dist
setuptools*egg
setuptools.pth
distribute*egg
distribute*tar.gz
*.so
*.o
*.log
doc/_build
doc/_doxybuild
pygpu/*.c
pygpu/*.h
src/gpuarray/abi_version.h
src/private_config.h
Makefile.conf
