Build
build
Debug
Release
lib
.*.sw[po]
*~
*.pyc
*.pyd
*.pyo
*.egg-info
MANIFEST
dist
setuptools*egg
setuptools.pth
distribute*egg
distribute*tar.gz
*.so
*.o
*.log
pygpu/*.c
pygpu/*.h
pygpu/version.py
src/gpuarray/abi_version.h
src/private_config.h
Makefile.conf
