# Set to empty if you don't need sudo
SUDO=sudo
# Set to the prefix of the install path e.g.:
#INSTALL_PREFIX=~/.local
# If not set it installs to /usr/local
INSTALL_PREFIX=
# Set to device that you want to use for single-gpu tests
# Set to empty if you want to use default (opencl device)
DEVICE=
# Set to number of devices you want to use for multi-gpu tests
# Set to empty if you want to use default (1 gpu)
NUM_DEVS=
# Set to devices you want to use for multi-gpu tests
# Use a string of space separated device names, e.g. DEV_NAMES="cuda0 cuda1"
# Set to empty if you want to use defaults (cuda device)
DEV_NAMES=
